<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TeluguClockWidget">

        <!-- App Widget Provider -->
        <receiver
            android:name=".TeluguClockWidget"
            android:enabled="true"
            android:exported="false"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.example.teluguclockwidget.ACTION_AUTO_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/telugu_clock_widget_info" />
        </receiver>

        <!-- Configure Activity -->
        <activity
            android:name=".TeluguClockWidgetConfigureActivity"
            android:exported="true"
            android:theme="@style/Theme.TeluguClockWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

    </application>
</manifest>
